


div img {
    width: 600px;
    height: 650px;
    padding-left: 20px;
    
    /* alinear imagenes para que no se muevan al hacer zoom o restar */
}


#tituloprincipal {
    font-size: 6em;
    color: #080808;
    text-align: center;
    text-decoration: underline;
    font-family: 'Satisfy', cursive;
    
}



.titulos-secundarios {
    text-align: center;
    font-size: 3em;
    font-family: 'Satisfy', cursive;
}

.conocenos{
    padding-top: 2em;
}

iframe {
    padding-left: 650px;
    padding-right: 650px;
    background-color: ;
}

.center{
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
}

.menu{
    /* text-align: center; */
    list-style-type: none;
    font-size: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
    background-color: #080808;
    list-style: none;
    
}

.footer-redes{
    font-size: 2em;
    padding-top: 7em;
    text-align: left;
    
}

.navegadorcontacto{
    font-size: 2em;
    text-align: center;
    list-style-type: none;
}

.textformulario{
    font-size: 2em;
}

.footer-redesformulario{
    text-align: center;
    list-style-type: none;
    font-size: 2em;

}

#h4formulario{
    text-align: center;
    font-size: 2em;
    padding-top: 2em;
}

#menuindumentaria{
    text-align: center;
    list-style-type: none;
    font-size: 2em;
}

#tituloprincipalindumentaria{
    font-size: 4em;
    color: #080808;
    text-align: center;
    text-decoration: underline;
    font-family: 'Satisfy', cursive;
}

