
#tituloprincipal {

    font-size: 4em;

    /* color: #080808; */

    text-align: center; 

     font-family: 'Satisfy', cursive;   
 } 



 .titulos-secundarios {
    text-align: center;
   font-size: 3em;
    font-family: 'Satisfy', cursive;
} 

.conocenos{
    font-size: 3em;
    padding-top: 2em;
    text-align: center;

}

iframe {
   
}

.center{
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;
}

.menu{
   
    list-style-type: none;

    /* font-size: 2em; */

    /* padding-bottom: 2em; */

    display: flex;
    justify-content: space-around;
    background-color: #080808;
    list-style: none;
     
} 

.footer-redes{
    font-size: 2em;
    padding-top: 7em;
    text-align: center;
    
    
}

.navegadorcontacto{
    font-size: 2em;
    text-align: center;
    list-style-type: none;
}

.textformulario{
    font-size: 2em;
}

.footer-redesformulario{
    text-align: center;
    list-style-type: none;
    font-size: 2em;

}

#h4formulario{
    text-align: center;
    font-size: 2em;
    padding-top: 2em;
}



#tituloprincipalindumentaria{
    font-size: 4em;
    color: #080808;
    text-align: center;
    text-decoration: underline;
    font-family: 'Satisfy', cursive;
}

.stylefondoimagenes{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-invierno-hojas-pinceles-color-pastel_220290-42.jpg?w=2000);
}

.stylefondoinicio{
    background-image:url(https://img.freepik.com/vector-gratis/fondo-acuarela_220290-34.jpg?w=1380&t=st=1686096505~exp=1686097105~hmac=f9649a14bfd9205ed0d88bb4f1d7d5c92b1d484925cb799e3fd7c18adfe221d4)
}
.stylefondocontacto{
    background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-color-agua_69859-16.jpg);
}

.menu-imagenes{
    
    /* text-align: center; */
    list-style-type: none;
    font-size: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
    /* background-color: #080808; */
    list-style: none;
        
}
